@model IEnumerable<AngularMvc.tbl_Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eorganisation)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eorganisation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Eid }) |
                @Html.ActionLink("Details", "Details", new { id=item.Eid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Eid })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
